@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">
        Proyecto 2do parcial Integracion propietaria CRUDS
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            <h3>Wilmer Ramirez 2018-1134</h3>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Roberto Meran 2015-3373</h3>
    </div>
    <div class="col-md-4">
        <h3>Fernando Frias 2017-1601</h3>
    </div>
</div>